server {
    listen 443 ssl;
    server_name {{ item }};
    ssl_certificate /etc/ssl/certs/{{ item }}-selfsigned.pem;
    ssl_certificate_key /etc/ssl/private/{{ item }}-selfsigned.key;
    location / {
        root /var/www/html/{{ item }};
        index index.html;
    }
}
server {
    listen 80;
    listen [::]:80;
    server_name .{{ item }};
    location / {
        return 301 https://{{ item }}$request_uri;
    }
}